.ba-info{
	display: flex;

	img{
		margin-right: 35px;

		@media screen and (max-width:$large){
			display: none;
		}
	}
&__foto{
	margin-left: 95px;
}

	&__words{
		display: flex;
		flex-direction: column;

		p{
			margin-bottom: 32px;
			color: #4f4f4f;
		}
		a{
			text-decoration: none;
			color: #4f4f4f;

			&:hover{
				color: $primary-color;
			}
		}
	}
}
@media screen and (max-width:$large){
	.ba-info__adress, .ba-info__tel, .ba-info__inst{
	flex-direction: row;
	
	}
}