.ba-body {
  background-color: $bg-color;
}

.bag-header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;

  a {
    text-decoration: none;
    color: $primary-color;
  }
}
.ba-way {
  &__item {
    display: flex;
       justify-content: flex-start;
	 font-family: $text-font-family;
	 margin: 0 0 35px;
	 padding: 0;
	 
	 li{
		 list-style: none;
	 }
	 a{
		text-decoration: none;
		list-style: none;
		color: #333333;

		&:hover{
			color: $primary-color;
		}
	 }
    li + li {
		margin-left: 28px;
		list-style-image: url(../img/Vector1.svg);
	 }
  }
}
.ba-nav__list{
	width: 24%;
}

@media screen and (max-width: $large){
	.ba-way__item{
	display: none;
	}
	.bag-header-bar{
		margin-bottom: 15px;
	}
}
.ba-pagename{
	margin-left: 28px;
	color: $primary-color;
}
.ba-children{
	padding: 15px 0;
}
.bag-title {
   text-align: center;
  color: $primary-color;
  margin-bottom: 15px;
}
.bag-subtitle {
  color: #4f4f4f;
  text-align: center;
  font-size: 24px;
  font-family: $text-font-family;
  margin-bottom: 65px;
}
.bag-footer, .bap-footer{
  background-color: #fff;
  
@media screen and (max-width: $large){
	.bag-footer{
	display: none;
}
}
}
.ba-return{
	text-decoration: none;
	font-size: 16px;
	color: #333333;
	margin-bottom: 67px;

	&:hover{
		color: $primary-color;
	}
	@media screen and (max-width: $large){
		color: #4f4f4f;
			font-size: 14px;
	}
}
.ba-tel{
	font-size: 24px;
	&:hover{
		color: #333333;
	}
}
.ba-col-large-3{
align-items: stretch;
}
.ba-col-large-6{
	margin-top: 60px;
}
.ba-smallfoto{
	margin-bottom: 150px;
	img{
		margin-left: -38px;
		padding: 0;
	}
}
// @media screen and (max-width: $large){
// .ba-col-medium-6{
// 	display: flex;
// 	justify-content: space-between;
// 	order: 1;
// }
// .bap-cake__text{
// 	order: 2;
// }
// }
.ba-bigfoto{
	margin-bottom: 35px;
	@media screen and (max-width: $large){
		display: none;
	}
}
.bap-cake{
	margin-left: -13px;
&__text{
	padding-left: 0px;
	line-height: 1.22;
}
&__name{
	font-family: $body-font-family;
	color: $primary-color;
	font-weight: 400;
	text-align: center;
	margin: -5px 0 65px -90px;

	@media screen and (max-width: $large){
		font-size: 32px;
		text-align: center;
		order: 1;
	}
}
}
form{
	display: flex;
	flex-direction: column;
	margin: -220px 0 28px -27px;
	align-items: center;
	width: 90%;
	padding: 0;
	border: 1px solid #bdbdbd;
	padding: 0;

	p{
		display: block;
		width: 100%;
		background-color: $primary-color;
		color: #fff;
		text-align: center;
		font-size: 20px;
		font-weight: 500;
		padding: 22px 60px;
		margin-bottom: 41px;
	}
	
	input{
		margin-bottom: 22px;
		border-radius: 10px;
		width: 90%;
		border: 1px solid #bdbdbd;
		padding: 14px;

		::placeholder{
			padding-left: 15px;
			font-size: 18px;
			font-weight: 500;
			font-family: $body-font-family;
		}
	}
}
button{
	background-color: $primary-color;
	color: #fff;
	border-radius: 10px;
	padding: 17px 45px;
	width: 65%;
	font-size: 20px;
	margin: 23px 0 35px;

	&:hover{
		background-color: #cd687b;
	}
}
@media screen and (max-width: $large){
	form{
		order: 5;
		margin: 0 50px 200px 50px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);;

	}
	.ba-small, .ba-smallfoto{
		margin-bottom: 30px;
		display: flex;
	}
	.ba-small{
		order: -4;
	}
	.ba-smallfoto{
		order: -3;
	}
	.bap-cake{
&__name{
	text-align: center;
	font-size: 24px;
	order: 5;
}
	&__text{
		display: flex;
		order: 4;
		margin-left: 30px;
		font-size: 14px;
	}
}
}
.ba-nav{

&__item{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	font-family: $text-font-family;
	padding: 0;
	max-width: 70%;

	a{
		text-decoration: none;
		color: #4f4f4f;

		&:hover{
			color: $primary-color;
		}
	}
	@media screen and (min-width: $medium){
		.ba-nav__item{
		width: 100%;
		}
	}	
}
}