@import url('https://fonts.googleapis.com/css?family=Philosopher:400,400i,700|Roboto:300,400,500,700&display=swap');

@import "normalize";
@import "layout";
@import "elements";

$primary-color: #e94e6b;
$bg-color: #faeef3;
$square-color: #fde8ed;
$text-color: #333333;
$body-font-family: 'Roboto', sans-serif;
$text-font-family: 'Philosopher', sans-serif;

$medium: 640px;
$large: 1024px;

body{
	font: 400 18px/1.6 $body-font-family;
}

p{
	margin: 0;
}
h1,h2,h3,h4,h5,h6{
	line-height: 1.2;
	color: $text-color;
	margin: 0;
}
h1{
	font-size: 24px;
	font-family: $text-font-family;


@media screen and (min-width: $medium){
	font-size: 52px;
}
}
h2{
font-size: 36px;
font-family: $text-font-family;
margin-bottom: 68px;
font-weight: 300;
}
h3{
	font-size: 24px;
	font-family: $text-font-family;
	color: $primary-color;
}
h6{
font-size: 20px;
margin: -5px 0 10px;
font-weight: 700;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1160px;
}
@import 'header';
@import 'section-intro.scss';

.ba-section{

	&--about{
		padding: 20px 0 95px;
	}
	&--gallery{
		padding: 42px 0 35px;
		background-color: $bg-color;
	}
	&--confectionery{
		padding: 70px 0;
	}
	&--contacts{
		padding: 14px 0 70px;
	}

}
.ba-img{
	display: block;
	width: 100%;
	margin-bottom: 12px;	
}
.ba-text{
	line-height: 1.2;
	
	span{
		font-family: $text-font-family;
		color: $primary-color;
		font-style: italic;	
	}
	p{
		margin-bottom: 9px;

	&:nth-child(5){
		margin-bottom: 35px;
	}
	}
}
.ba-choise{
text-decoration: none;
}
.ba-foto{
	display: block;
	width: 100%;

	&:hover{
		opacity: 0.8;
	}
}
.ba-name{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	text-align: center;
	background-color: #fff;
	margin-bottom: 65px;
	max-width: 100%;
	
}
.ba-text-center{
	&--confectionery{
		margin: 0 0 85px;
		
	}
}
.ba-description{
	max-width: 620px;
	padding-left: 40px;
	margin-left: -12px;
	
	p{
		margin-bottom: 15px;
		line-height: 1.2;

		&:nth-child(2){
			margin-bottom: 20px;
		}
		&:nth-child(4){
			margin-bottom: 9px;
		}
	}
}
.ba-image{
	position: relative;
	z-index: 1;
}
@import 'contacts';
footer{
	background-color: $bg-color;
color: $primary-color;
padding: 35px;

a{
	text-decoration: none;
	color: $primary-color;
}
}
.ba-data{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-size: 16px;

	div{
		margin-left: 30px;
	}

	&__tel{
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		span{
			font-size: 18px;
		}
	}
	&__adress{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__inst{
		display: flex;
		flex-direction: column;
	}
	div + div{
		margin-right: 35px;
	}
}
@import 'gallery';

